#about {
	width: 100%;
	height: auto;
	padding: 130px 0px;
	display: flex;
	justify-content: center;
	background: url(../../images/background_about.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#about .container {
	height: 100%;
	width: 84%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about .container .about_left {
	height: auto;
	width: 84%;
}
#about .container .about_left br {
	display: none;
}

#about .container .about_left .about_left_list_questions {
	list-style-type: none;
}

#about .container .about_left .about_left_list_questions .list_questions_item {
	color: #01FBFD;
	font-size: 4em;
	line-height: 1em;
	font-weight: 600;
	position: relative;
	margin-bottom: 30px;
}
	#about .container .about_left .about_left_list_questions .list_questions_item:before {
		position: absolute;
		content: '';
		left: -40px;
		top: 20px;
		background: url(../../images/ellipse_list.svg);
		width: 30px;
		height: 30px;
		background-size: cover;
		background-repeat: no-repeat;
	}

#about .container .about_left .about_left_call {
	font-size: 5em;
	line-height: 1em;
	color: #01FBFD;
	margin-top: 55px;
	font-family: MontserratBold;
}

#about .container .about_left .about_left_button {
	background: linear-gradient(90deg, #FF8686 0%, #FF5271 100%);
	border-radius: 15px;
	color: #182B60;
	font-size: 3.3em;
	line-height: 1em;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	margin-top: 55px;
	padding: 30px 0px;
}
	#about .container .about_left .about_left_button:hover {
		background: linear-gradient(90deg, #FF5271 0%, #FF8686 100%);
	}

#about .container .about_left .about_left_left {
	margin-top: 98px;
	font-size: 3em;
	line-height: 1em;
	color: white;
	margin-bottom: 21px;
	font-weight: bold;
}

#about .container .about_left #timer {
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3em;
}

#about .container .about_left #timer p {
	color: white;
	font-size: 3em;
	font-weight: bold;
	font-family: MontserratBold;
	margin-top: -1em;
}

#about .container .about_left #timer .timer_item {
	width: calc((100% - 3 * 35px) / 4);
}
	#about .container .about_left #timer .timer_item:first-child {
		margin-left: 0;
	}

#about .container .about_left #timer .timer_item .timer_item_block {
	width: 100%;
	height: 154px;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
	#about .container .about_left #timer .timer_item .timer_item_block:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 50%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #EBEFF4 0%, #C3D2E4 100%);
		border-radius: 5px 5px 0px 0px;
		z-index: 99;
	}

#about .container .about_left #timer .timer_item .timer_item_block div {
	z-index: 100;
	position: relative;
	color: #1E1266;
	font-size: 5em;
	font-weight: 800;
	font-family: MontserratBold;
	text-align: center;
}

#about .container .about_left #timer .timer_item .timer_item_name {
	text-align: center;
	font-weight: 500;
	font-size: 1.7em;
	color: white;
	margin-top: 10px;
}

#about .container .about_right {
	height: auto;
	width: 84%;
}

#about .container .about_right .about_right_title {
	color: white;
	font-size: 5em;
	line-height: 1em;
	font-family: MontserratBold;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 51px;
}

#about .container .about_right .about_right_description {
	font-weight: 500;
	font-size: 3em;
	line-height: 1em;
	color: white;
}