#footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

#footer .container {
	width: 84%;
	height: auto;
	padding: 90px 0px;
}

#footer .container .footer_irid {
	width: 100%;
	margin-bottom: 80px;
}

#footer .container .footer_irid .footer_title {
	font-size: 4em;
	line-height: 1em;
	font-family: MontserratBold;
	color: #91A0B1;
	margin-bottom: 50px;
}

#footer .container .footer_irid .footer_irid_logo {
	height: 130px;
	margin-bottom: 50px;
}

#footer .container .footer_irid .footer_irid_company {
	margin-bottom: 22px;
	font-weight: bold;
	font-size: 4em;
	line-height: 1em;
	color: #323E5F;
}

#footer .container .footer_irid .footer_irid_address {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 2.4em;
	line-height: 1.1em;
	color: #323E5F;
}

#footer .container .footer_irid .footer_irid_phone {
	margin-bottom: 14px;
	font-weight: bold;
	font-size: 3em;
	line-height: 1,1em;
	color: #323E5F;
}

#footer .container .footer_irid .footer_irid_link {
	font-weight: bold;
	font-size: 3em;
	line-height: 1.1em;
	text-decoration-line: underline;
	color: #323E5F;
}

#footer .container .footer_shinesquad {
	width: 100%;
}

#footer .container .footer_shinesquad .footer_shinesquad_prev {
	font-weight: bold;
	font-size: 4em;
	line-height: 1em;
	color: #63CFD0;
	font-family: MontserratBold;
	margin-bottom: 50px;
}

#footer .container .footer_shinesquad .footer_shinesquad_desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footer .container .footer_shinesquad .footer_shinesquad_desc .footer_shinesquad_description_name {
	font-weight: 800;
	font-size: 4em;
	line-height: 1.2em;
	color: #1F75FF;
	font-family: MontserratBold;
}

#footer .container .footer_shinesquad .footer_shinesquad_desc .footer_shinesquad_desc_description {
	width: 100%;
}
#footer .container .footer_shinesquad .footer_shinesquad_desc .footer_shinesquad_desc_description .one {
	font-weight: 500;
	font-size: 3em;
	line-height: 1em;
	color: #323E5F;
	margin-bottom: 12px;
	margin-top: 25px;
}

#footer .container .footer_shinesquad .footer_shinesquad_desc .footer_shinesquad_desc_description .two {
	font-weight: bold;
	font-size: 3em;
	line-height: 1.1em;
	color: #323E5F;
	font-family: MontserratBold;
	margin-bottom: 12px;
}

#footer .container .footer_shinesquad .footer_shinesquad_desc .footer_shinesquad_desc_description .three {
	font-weight: 500;
	font-size: 2em;
	line-height: 1em;
	color: #323E5F;
}
#footer .container .footer_shinesquad .footer_shinesquad_desc .footer_shinesquad_desc_description .three img {
	width: 80px;
	height: 80px;
	margin: 10px;
	vertical-align: middle;
	user-select: none;
}

#footer .container .cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footer .container .cards .card {
	width: 100%;
	height: auto;
	padding: 30px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#footer .container .cards .card .shine_sq_user_description {
	max-width: calc(100% - 200px);
}
#footer .container .cards .card .shine_sq_user_description p {
	font-size: 2em;
	line-height: 1em;
}

#footer .container .cards .card a {
	color: black;
	font-size: 2em;
	background: red;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 15px 0px;
	display: inline-block;
	/*box-sizing: border-box;*/
}

#footer .container .cards .card .avatar {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-color: #E3E6EB;
	margin-bottom: 20px;
}

#footer .container .cards .card .avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#footer .container .cards .card .fi {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #6E7884;
	margin-bottom: 11px;
}

#footer .container .cards .card .card_desc {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #6E7884;
	margin-bottom: 11px;
}

#footer .container .cards .card .skills {
	font-size: 14px;
	line-height: 17px;
	color: #6E7884;
}

#main_footer {
	display: none;
}
