#main {
	width: 100%;
	height: auto;
	background: linear-gradient(90deg, #1A76B5 10.26%, #1E1266 67.71%);
	display: flex;
	justify-content: center;
}

#main .container {
	width: 100%;
	min-height: 100vh;
}

#main .container header {
	display: none;
}

#main .container main {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}

#main .container main .main_content {
	max-width: 82%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#main .container main .main_content .main_content_date {
	color: #01FBFD;
	font-size: 5em;
	line-height: 44px;
	font-family: MontserratBold;
	margin-bottom: 35px;
	position: relative;
	display: inline-flex;
}
	#main .container main .main_content .main_content_date:before {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: -10px;
		left: -30px;
		background: url(../../images/ellipse.svg);
	}
	#main .container main .main_content .main_content_date:after {
		content: '';
		width: 21px;
		height: 21px;
		position: absolute;
		top: -25px;
		right: -35px;
		background: url(../../images/date_group.svg);
	}

#main .container main .main_content .main_content_title {
	color: white;
	font-size: 5em;
	line-height: 1em;
	text-transform: uppercase;
	font-family: MontserratBold;
	margin-bottom: 128px;
	position: relative;
	display: inline-flex;
}
	#main .container main .main_content .main_content_title:before {
		content: '';
		width: 21px;
		height: 21px;
		position: absolute;
		bottom: -25px;
		left: -35px;
		background: url(../../images/title_group.svg);
	}
	#main .container main .main_content .main_content_title:after {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: -10px;
		right: -30px;
		background: url(../../images/ellipse.svg);
	}

#main .container main .main_content .main_content_about {
	color: white;
	font-size: 3.4em;
	line-height: 1em;
	margin-bottom: 148px;
}

#main .container main .main_content .main_content_button {
	background: linear-gradient(90deg, #FF8686 0%, #FF5271 100%);
	border-radius: 15px;
	font-size: 4em;
	padding: 20px 30px;
	color: #182B60;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
}
	#main .container main .main_content .main_content_button:hover {
		background: linear-gradient(90deg, #FF5271 0%, #FF8686 100%);
	}

#main .container main .main_house {
	bottom: calc(50% - 250px);
	height: 500px;
	width: calc(1200px - 500px);
	display: none;
}

#main .container main .main_house img {
	width: 100%;
}