#schedule {
	width: 100%;
	padding: 130px 0px 120px 0px;
	height: auto;
	display: flex;
	justify-content: center;
	background: #09061C;
	/*display: none;*/
}

#schedule .container {
	width: 84%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#schedule .container .schedule_title {
	color: white;
	font-size: 5em;
	line-height: 1em;
	font-family: MontserratBold;
	font-weight: bold;
	margin-bottom: 70px;
}

#schedule .container .schedule_content {
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#schedule .container .schedule_content img { 
	margin-bottom: 45px;
	width: 100%;
}

#schedule .container .schedule_description {
	color: white;
	font-size: 2em;
	line-height: 1em;
	margin-top: 20px;
}