#tasks {
	width: 100%;
	padding: 90px 0px 100px 0px;
	height: auto;
	display: flex;
	justify-content: center;
	background: #F0F3F9;
	box-shadow: inset 0px 0px 25px rgba(70, 79, 89, 0.1);
}

#tasks .container {
	width: 84%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-direction: column;
}

#tasks .container .tasks_title {
	font-size: 48px;
	line-height: 59px;
	color: #91A0B1;
	font-family: MontserratBold;
	font-weight: bold;
	margin-bottom: 54px;
	text-align: center;
}

#tasks .container .tasks_list {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

#tasks .container .tasks_list .tasks_list_item {
	height: auto;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 2px 2px 9px rgba(50, 57, 87, 0.1);
	border-radius: 7px;
	display: flex;
	align-items: center;
	align-items: flex-start;
	margin-bottom: 50px;
	padding: 50px 70px;
	box-sizing: border-box;
}

#tasks .container .tasks_list .tasks_list_item .tasks_list_item_logo {
	margin-bottom: 36px;
	height: 130px;
}

#tasks .container .tasks_list .tasks_list_item .tasks_list_item_type {
	font-family: MontserratBold;
	font-size: 3em;
	line-height: 1em;
	color: #91A0B1;
	margin-bottom: 20px;
}

#tasks .container .tasks_list .tasks_list_item .tasks_list_item_title {
	font-size: 2em;
	line-height: 1em;
	font-family: MontserratBold;
	color: #1E1266;
	margin-bottom: 20px;
}

#tasks .container .tasks_list .tasks_list_item .tasks_list_item_descriptions {
	font-size: 2em;
	line-height: 1em;
	color: #69727C;
}