#waiting {
	width: 100%;
	padding: 150px 0px 130px 0px;
	height: auto;
	display: flex;
	justify-content: center;
}

#waiting .container {
	width: 84%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#waiting .container .waiting_left {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

#waiting .container .waiting_left img {
	width: 80%;
}

#waiting .container .waiting_right {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#waiting .container .waiting_right .fix .waiting_right_title {
	font-size: 4em;
	line-height: 1em;
	color: #1E1266;
	font-family: MontserratBold;
	margin-bottom: 50px;
}

#waiting .container .waiting_right .fix .waiting_right_list_role {
	list-style-type: none;
}

#waiting .container .waiting_right .fix .waiting_right_list_role .list_role_item {
	color: #1A76B5;
	font-size: 3em;
	line-height: 1em;
	font-family: MontserratBold;
	margin-top: 40px;
	position: relative;
	margin-left: 30px;
}
	#waiting .container .waiting_right .fix .waiting_right_list_role .list_role_item:before {
		position: absolute;
		content: '';
		left: -30px;
		top: 15px;
		background: url(../../images/ellipse_list2.svg);
		width: 20px;
		height: 20px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#waiting .container .waiting_right .fix .waiting_right_list_role .list_role_item:first-child {
		margin-top: 0;
	}

#waiting .container .waiting_right .fix .waiting_right_list_role .list_role_item p {
	font-family: Montserrat;
	font-size: .8em;
	line-height: 1em;
	margin-top: 5px;
}