#team_list1 {

}
#team_list1 .title_team {
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	text-align: center;
}

#team_list2 .title_team {
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	text-align: center;
}

td {
	min-width: 250px;
}